
.navbar-default {
  background-color: #ee2525;
  border-color: #9d323b;
}
.navbar-default .navbar-brand {
  color: #eef1f2;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ecdbff;
}
.navbar-default .navbar-text {
  color: #eef1f2;
}
.navbar-default .navbar-nav > li > a {
  color: #eef1f2;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ecdbff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: #9d323b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #9d323b;
}
.navbar-default .navbar-toggle {
  border-color: #9d323b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #9d323b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #eef1f2;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #eef1f2;
}
.navbar-default .navbar-link {
  color: #eef1f2;
}
.navbar-default .navbar-link:hover {
  color: #ecdbff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #eef1f2;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #9d323b;
  }
}

body{
  background:#f4f4f4;
}


.navbar {
	border-radius: 0;
	margin-bottom: 0;
	min-height: 33px !important;
}

.navbar-nav > li > a, .navbar-brand {
	height: 33px;
	padding-bottom: 0 !important;
	padding-top: 6px !important;
}

.bg-color-theme {
  background-color: #ee2525 !important;
  border-color: #9d323b !important ;
  color: #ffffff !important;
}


#header {
	background-color: #333333;
	color: #ffffff;
	margin-bottom: 15px;
	padding: 15px;
}

#footer {
	background-color: #333333;
	color: #ffffff;
	text-align: center;
	padding:30px;
	margin-top:30px;
}

.progress-bar {
	background-color: #000000;
	color: #ffffff;
}






